.carousel-img {
    width: 50vw;
    height: 50vh;
}

// .each-fade {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.each-fade .image-container {
    width: 100vw;
    height: 90vh;
    // overflow: hidden;
}

.each-fade .image-container img {
    width: 100%;
    height: 100%;
    // border: 10px solid blue;
}