@import '../../styles.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway');


.profileBody {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/map-background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.profile-container {
  overflow: hidden;
  background-color: #fffffff0;
  width: 70%;
  height: 90%;
  box-shadow: 3px 3px 20px;
  padding: 1em;
  margin: 2em auto;
  // font-family: 'Raleway', sans-serif;
  h1 {
    margin: 0.3em;
    font-size: 1.6rem;
  }
}

.profile-img-container {
  padding: 1em;
  img {
    height: 200px;
  }
}

.profile-info-container {
  width: fit-content;
  margin: auto;
  max-width: 330px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  div {
    margin: .5em;
    text-align: start;
    font-size: 0.8em;
  }

  div span {
    font-weight: 700;
    font-size: 1rem;
  }

}

.edit {
  justify-content: flex-end;
  display: flex;
  justify-content: space-between;
}

.bio-box {
  display: flex;
  p {
    margin: 0 .3em;
  }
}

.profile-buttons {
  text-align: center !important;
  button {
    margin: 0 .5em;
  }
}


.profile-slider {
  width: 760px;
  margin: 2em auto;
  .slick-next::before, .slick-prev::before {
    color: black;
  }
}


.friend-img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  // align-items: center;
  i {
    opacity: 0;
    transition: .5s;
    height: fit-content;
  }
}

.friend-img:hover i {
  opacity: 100;
  transition: .5s;
}

.friend-img i:hover {
  color: #fff;
  text-shadow: 0 0 3px black;
}
