.profileBody {
  height: 100%;
  width: 100%;
  background-color: rgb(103, 103, 103);
}

.profile-container {
  background-color: #fff;
  width: 90%;
  height: 90%;
  box-shadow: 3px 3px 20px;
  margin: auto;
}

.profile-img-container {
  padding: 2em;
}

.profile-info-container {
  width: 50%;
  margin: auto;

  div {
    margin: 1em;
  }

  div span {
    font-weight: 700;
  }

}