

.modalFullPage {
  top: 0;
  position: fixed;
  //   filter: blur(8px);
  background: rgba(49, 48, 48, 0.945);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
    button {
      margin-top: 1rem;
    }
  z-index: 2;  
}

.modalAddTrip {
  position: absolute;
  height: 40vh;
  width: 25vw;
  background: rgba(214, 214, 214, 0.774);  
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}

.add-trip-background{
  position: fixed;
  z-index: -1;
  bottom: 30vh;
  height: 40vh;
  overflow: hidden;
  width: 25vw;
  border-radius: 8px;

}


.add-trip-input {
  color: #525151 !important;
}

.add-trip-button{
  color: #fff !important;
  font-size: 1rem !important;
}

.buttonBack{
  width: 67%;
  padding-left: 15%;
}

#add-trip-button:hover{
  background: rgb(153, 153, 153)
}

.checkboxes {
  color: rgb(58, 58, 58);
  display: flex;
  margin-top: 1rem;
  border-radius: 2px;
}

.addTripButtons:hover {
  background: rgb(117, 117, 117);
}

.Links{
  // text-decoration: none;
  transition: .3s;
  border: none;
  background: transparent;
  cursor: pointer;
}

.Links:hover{
  color: rgb(71, 71, 71)
}

