.budget-item-container {
   display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
   align-content: center;
   padding: 8px;
   height: 50px;
   border-bottom: 1px solid rgb(192, 192, 192);
   margin: 0px 10px;
}

.budget-property {
   width: 33.333%;
   font-size: 14px;
}

.item-name {
   text-align: left;
}

.budget-button-container {
   display: flex;
   justify-content: flex-end;
}

.budget-cancel-icon {
   color: rgb(180, 6, 6);
   margin-right: 3px;
}

.budget-submit-icon {
   color: green;
}