@import '../../styles.scss';

.side-nav{
   background-color: $secondary-background-color;
   height: 100vh;
   width: $side-nav-width;
      ul {
         display: flex;
         flex-direction: column;
         flex-wrap: nowrap;
         justify-content: flex-start;
         align-items: flex-start;
         align-content: stretch;
         padding-left: 20px;
         font-size: 22px;
            li {
               margin-top: 10px;
               list-style-type: none;
            }
            a {
               text-decoration: none;
               color: black;
            }
            a.active{
               background: white;
            }
            
      }
}

.add-trip-button:hover {
   cursor: pointer;
}

.modalFullPage{
   top: 0;
   position: fixed;
   background: rgba(49, 48, 48, .7);
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   button{
      margin-top: 1rem;
   }
}

.modalAddTrip{
   height: 70vh;
   width: 50vw;
   background: rgb(168, 168, 168);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.checkboxes{
   display: flex;
   margin-top: 1rem;
}

.addTripInputs{
   width: 200px;
   margin-top: 1rem;
}