@import '../../styles.scss';

.tripCard {
  background-color: $secondary-background-color;
  overflow: hidden;
  box-sizing: border-box;
  height: 300px;
  width: 350px;
  box-sizing: border-box;
  color: black;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5 );
  margin: 30px 15px 0px 15px;
  border-radius: 7px;
  transition: .25s;
    &:hover {
      height: 305px;
      width: 355px;
      transition: .25s;
      margin: 20px 0 0 0;
    }
}

.trip-details-body {
  height: 100%;
  widows: 100%;
  cursor: pointer;
}

.listFlex {
  display: flex;
  justify-content: space-around;
}

ul {
  text-align: start;
}

.card-image-container {
  width: 100%;
  height: 85%;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.trip-name-date {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


// MODAL
.trip-modal-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.712);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: center;
}

.detail-button-container {
  width: 135px;
  height: auto;
  position: fixed;
  top: 1%;
  right: 1%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
  align-content: stretch;
}

.trip-title-container {
  color: white;
  position: fixed;
  top: 2%;
  left: 3%;
}

.trip-details-close-button {
  color: white;
  transition: .3s;
    &:hover {
    cursor: pointer;
    color: rgb(126, 126, 126);
    transition: .3s;
  }
}


.trip-modal {
  height: 85%;
  width: 95%;
  background-color: transparent;
  z-index: 2;
  border-radius: 10px;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-between;
}

.detail-box {
  width: 32%;
  height: 49%;
  background-color: white;
  border-radius: 10px;
}

.text-editor-box {
  position: relative;
  height: 100%;
  width: 33.33%;
  background-color: $secondary-background-color;
  color: black;
  border-radius: 10px;
}

.quill {
  height: 100%;
}

.locations-box {
  background-image: url('../../images/london.jpg');
  background-size: cover;
}

.activities-box {
  background-image: url('../../images/tourist.jpg');
  background-size: cover;
}
