
.Header{
    background: rgb(22, 22, 22);
    color: lightgray;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
h1 {
    margin-left: 1%;
}
#headerSpace{
    width: 85%
}
 #mainHead{
    background: rgb(22, 22, 22);
    width: 97vw;
    display: flex;
    font-size: 1em;
    border-bottom: solid .1px rgb(44, 44, 44)
 }

 .userButtons{
    display: flex;
    align-items: flex-end;
}

#dropdown{
    margin: .3rem
}