
.Header{
    background: #00000082;
    color: #fff;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

.logo {
    height: 75px;
    opacity: .7;
}

#headerSpace {
    width: 95%
}
 #mainHead{
    width: 97vw;
    display: flex;
    font-size: 1em;
    border-bottom: solid .1px lightgray
}

.userButtons {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    color: white;
}

#dropdown {
    margin: .3rem
}