.register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerBox {
  background-color: #6b6b6b;
  width: fit-content;
  text-align: start;
  padding: 0 2em;
  padding-bottom: 2em;
}