@import '../../styles.scss';

.bucket-list-content {
   display: flex;
   flex-direction: column;
   height: 90vh;
}

.bucket-list-container {
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
}

.bucket-list-header {
    height: 10vh;
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    margin-bottom: 3.5vh;
    width: calc(98vw - 155px);
    border-bottom: 1px solid #ffffff4d;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    h2 {
        margin: 0;
        color: white;
        text-shadow: 2px 2px 10px #252424;
    }
}

.bucket-add {
    margin-bottom: 3.5vh;
}

.add-bucket-item-input::placeholder {
    color: white;
    text-shadow: 1px 1px 6px black;
}

.bucket-list {
    height: 100%;
    flex-basis: 50%;
}

.bucket-lists {
    display: flex;
    overflow-y: scroll;
}

.bucket-list-bg {
    width: calc(100vw - #{$side-nav-width});
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../images/newzealand.jpg');
    background-size: cover;
}

.bucket-item {
    list-style-type: none;
    color: white;
    font-size: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

@media (max-width: 1000px) {
    .bucket-list-header {
        display: none;
    }
}