@import '../../styles.scss';
@import url('https://fonts.googleapis.com/css?family=Abel');

.landing-nav-container  {
    width: 100vw;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.landing-nav {
    width: 90vw;
    height: 100px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    height: 85px;
    background-color: rgba(37, 36, 36, 0);
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid white;
        div {
            h1 {
                font-family: 'Abel', sans-serif;
                text-transform: uppercase;
                font-size: 34px;
            }
        }
}

.landing-nav-item {
    width: 25%;
}

.landing-nav-logo-container {
    width: 85px;
    height: auto;
}

.landing-nav-title {
    color: white;
    
}

.landing-nav-button-container {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.landing-nav-register-button {
    padding: 11px 25px;
    border: 1.5px white solid;
    color: white;
    border-radius: 50px;
    transition: .33s;
    margin-left: 25px;
}

.landing-nav-register-button:hover {
    background-color: rgba(247, 240, 240, 0.459);
    transition: .33s;
}

.landing-nav-login-button {
    color: white;
    transition: .33s;
}

.landing-nav-login-button:hover {
    color: rgb(202, 201, 201);
    transition: .33s;
}

.landing-nav > img {
    height: 75px;
}
