.auth-page {
   height: 100vh;
   width: 100vw;
   background-image: url('../../images/landing13.jpg');
   background-size: cover;
   background-position: center;
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
   align-content: center;
}

.auth-box {
   height: 500px;
   width: 500px;
   background-color: rgba(131, 130, 130, 0.856);
   color: white;
   position: relative;
   top: 200px;
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
   align-content: center;
   justify-content: center;
   border-radius: 10px;
}

.auth-menu-item {
   margin: 10px 0;
}