//TEXT

//BACKGROUND
$primary-background-color: rgb(22, 22, 22);
$secondary-background-color: white;


$navbar-height: 7em;
$side-nav-width: 185px;


.default-button {
   height: 2.5rem;
   width: 5rem;
   border-radius: 50px;
   background: rgb(151, 151, 151);
   border: none;
   transition: 0.75s;
   color: rgb(58, 58, 58);
   margin: 10px;
}

.default-input {
   width: 200px;
   padding: 13.7px;
   //   border-radius: 5px;
   color: rgb(231, 231, 231);
   height: 2rem;
   margin-top: 1rem;
   background: transparent;
   border: 0;
   border-bottom: 1px solid rgb(170, 166, 166);
   outline: none;
   font-size: 1.1rem;
}

.list-icon {
   margin-left: 8px;
   &:hover {
      cursor: pointer;
   }
}

.fa-trash {
   &:hover {
      color: rgb(221, 11, 11);
   }
   transition: .1s ease-in;
}

.fa-edit {
   &:hover {
      color: rgb(212, 199, 6);
   }
   transition: .1s ease-in;
}
